* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
}

img {

    width: 450px;
    max-width: 100%;
    border: solid 2px #FAE3D9;

}


H1 {
    padding-top: 9vw;
    text-align: center;
    margin-bottom: -5vw;
    letter-spacing: 4px;
    font-weight: 100;
}


main {
    margin-top: 6vw;

}

.container {
    background-image: url(Produktbilleder/_-11.jpg);
    width: 100vw;
    margin-left: 0;
    padding: 0;
}

.container img {
    margin: 0;
    padding: 0;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10vw 10vw 0 10vw;
    column-gap: 5vw;
    max-width: 85%;
}


@media only screen and (min-width: 700px) {
    .data-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.item {
    background: rgba(20, 40, 80, 1);
    color: #fff;
    padding: 10px;
    max-width: 100%;

}

.data-title {
    font-family: 'Cormorant Garamond', serif;
    color: black;
    text-decoration: none;
    margin-bottom: -5px;
    text-transform: uppercase;
    max-width: 100%;
    margin-top: -2px;
}

a {
    text-decoration: none;
    max-width: 100%;
}

.pris {
    font-family: 'Yantramanav', sans-serif;
    margin-top: 10px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;

}

h2 {
    text-align: center;
    font-size: 1rem;
    margin-top: 30px;
}


a {
    margin-top: 4px;
    color: black;
    text-decoration: none;

}


header {
    margin-bottom: 80px;
    text-align: center;
    position: fixed;
    background: #FAE3D9;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;

}

button {
    background-color: #FAE3D9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1em;
    border-left: 5px;
    border-right: 5px;
}

h6 {
    position: fixed;
    padding: 20px;
    left: 10px;
    top: 5px;
    font-size: 1.6rem;
    font-family: 'Yantramanav', sans-serif;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(250, 227, 217, 0.81);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 30px 8px 30px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #C09F37;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#mysidenav {
    text-align: left;
}

.sidenav {
    text-align: left;
    font-family: 'Yantramanav', sans-serif;
}

.menu-item {
    max-width: 90px;
    font-size: 0.9em;
}

@media only screen and (min-width: 600px) {
    header {
        height: 110px;
    }
    .sidenav img {
        max-width: 2vw;
        margin-left: 2vw;
        margin-top: 2vw;
    }
    .shopping img {
        max-width: 2vw;
    }
    .shopping {
        margin-left: 93vw;
        margin-top: -7.5vw;
    }
    /*    .search img{
    max-width: 3vw;
}

.search{
    margin-left: 80vw;
    margin-top: 1vw;
}*/
}


header img {
    width: 30vw;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 70vw;
        margin-bottom: -40px;
        margin-top: 0.1px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
    h6 {
        transform: scale(0.9);
        left: 0;
        margin-top: -4vw;
    }
    .sidenav {
        height: 400px;
    }
    .menu_tekst {
        display: none;
    }
    .shopping img {
        max-width: 26px;
    }
    .shopping {
        margin-left: 85vw;
        margin-top: -22vw;
    }
    .sidenav img {
        max-width: 8vw;
        margin-left: 8vw;
    }
}

button {
    background: transparent;
    margin: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Yantramanav';
}

.btn:hover {
    border: none;
    color: white;
}

@media only screen and (max-width: 500px) {
    .data-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .data-container {
        margin-top: 8%;
    }
}



@media only screen and (max-width: 300px) {
    .data-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media only screen and (min-width: 600px) {
    #myBtn {
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: -5px;
        /* Place the button at the bottom of the page */
        right: -80px;
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        padding: 15px;
        /* Some padding */
        transform: scale(0.7);
    }
    #myBtn:hover {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}

.SoMe_footer img {
    max-width: 15%;
    align-items: flex-end;
    margin-top: -9px;
    border: none;

}



@media only screen and (min-width: 500px) {
    .SoMe_footer img {
        width: 11vw;
    }
}

@media only screen and (min-width: 740px) {
    .SoMe_footer img {
        width: 8vw;
        align-items: center;
    }
}

@media only screen and (min-width: 750px) {
    .SoMe_footer img {
        width: 8vw;
    }
}

@media only screen and (min-width: 1280px) {
    .SoMe_footer img {
        width: 10vw;
    }
}


footer {
    display: grid;
    grid-template-columns: 5vw 30vw 30vw 30vw 5vw;
    justify-content: center;
    font-family: 'Yantramanav', sans-serif;
    background: #FFB6B9;
}

footer h5 {
    font-family: 'Garamont', serif;
}

.footer_boks {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.footer_kontakt {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.SoMe_footer {
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
    padding-top: 1vw;
}

.SoMe_footer {
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .footer_boks {
        margin-bottom: 5vw;
    }
    .footer_kontakt {
        margin-bottom: 5vw;
    }
}
