* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-decoration-color: black;
    font-family: 'Yantramanav';
    background: #FAE3D9;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
    text-decoration: none;
}

header {
    margin-bottom: 80px;
    text-align: center;
    position: fixed;
    background: #FAE3D9;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
}

button {
    background-color: #FAE3D9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1em;
    border-left: 5px;
    border-right: 5px;
}

h6 {
    position: fixed;
    padding: 20px;
    left: 10px;
    top: 5px;
    font-size: 1.6rem;
    font-family: 'Yantramanav', sans-serif;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(250, 227, 217, 0.81);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Yantramanav', sans-serif;
}

.sidenav a {
    padding: 30px 8px 30px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #C09F37;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#mysidenav {
    text-align: left;
}

.sidenav {
    text-align: left;
}

.menu-item {
    max-width: 90px;
    font-size: 0.9em;
}

@media only screen and (min-width: 600px) {
    header {
        height: 110px;
    }
    .sidenav img {
        max-width: 2vw;
        margin-left: 2vw;
        margin-top: 2vw;
    }
    .shopping img {
        max-width: 2vw;
    }
    .shopping {
        margin-left: 94vw;
        margin-top: -7.5vw;
    }

    /*    .search img{
    max-width: 3vw;
}

.search{
    margin-left: 80vw;
    margin-top: 1vw;
}*/
}


header img {
    width: 30vw;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 70vw;
        margin-bottom: -40px;
        margin-top: 0.1px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
    h6 {
        transform: scale(0.9);
        left: 0;
        margin-top: -4vw;
    }
    .sidenav {
        height: 400px;
    }
    .menu_tekst {
        display: none;
    }
    .shopping img {
        max-width: 26px;
    }
    .shopping {
        margin-left: 85vw;
        margin-top: -21.4vw;
    }
    .sidenav img {
        max-width: 8vw;
        margin-left: 8vw;
    }
    h1 {
        margin-top: 100px;
    }
}

button {
    background: transparent;
    margin: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Yantramanav';
}

.btn:hover {
    border: none;
    color: white;
}

h2 {
    margin-top: 18vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: 'Comorant+Garamond';
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

.some_ikoner img {
    width: 15vw;
    height: 15vw;
}

.some_container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: solid white 10px;
    border-bottom: none;
    border-top: none;
    padding: 0 5vw 2vw 5vw;
}

.some_ikoner {
    margin-top: 180px;
    display: flex;
    margin-top: auto;
    text-align: center;

}

.kontakt_container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 10px;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: solid white 10px;
    border-bottom: none;
    border-top: none;
    padding: 0 5vw 2vw 5vw;
}

@media only screen and (max-width: 500px) {
    .kontakt_container {
        border: none;
    }
    .some_container {
        border: none;
    }
}

form {
    max-width: 50%;
    margin: auto;

    padding: 2%;
    margin-top: 1%;
    height: 100%;
    margin-bottom: 5%;
}

input {
    width: 30%;
    border: solid 1px white;
    padding: 20px;
    margin: 2%;
    font-size: 1em;
}

input[type=navn] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tekst] {
    width: 100%;
    padding: 122px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    background-color: #C09F37;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 22px 2px;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    form {
        max-width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    #myBtn {
        background-image: url(knap.svg);
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: -5px;
        /* Place the button at the bottom of the page */
        right: -80px;
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        padding: 15px;
        /* Some padding */
        transform: scale(0.7);
    }
    #myBtn:hover {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}


.SoMe_footer img {
    max-width: 15%;
    align-items: flex-end;
    margin-top: -9px;

}



@media only screen and (min-width: 500px) {
    .SoMe_footer img {
        width: 11vw;
    }
}

@media only screen and (min-width: 740px) {
    .SoMe_footer img {
        width: 8vw;
        align-items: center;
    }
}

@media only screen and (min-width: 750px) {
    .SoMe_footer img {
        width: 8vw;
    }
}

@media only screen and (min-width: 1280px) {
    .SoMe_footer img {
        width: 10vw;
    }
}


footer {
    display: grid;
    grid-template-columns: 5vw 30vw 30vw 30vw 5vw;
    justify-content: center;
    font-family: 'Yantramanav', sans-serif;
    background: #FFB6B9;
}

footer p {
    font-size: 1em;
}

footer h5 {
    font-family: 'Garamont', serif;
}

.footer_boks {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;

}

.footer_kontakt {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.SoMe_footer {
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
    padding-top: 1vw;
}

.SoMe_footer {
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .footer_boks {
        margin-bottom: 5vw;
        margin-top: 2vw;
    }
    .footer_kontakt {
        margin-bottom: 5vw;
    }
    p {
        font-size: 1em;
    }
}
