body {
    text-decoration-color: black;
    font-family: 'Yantramanav';
    background: #FAE3D9;
    margin-left: auto;
    margin-right: auto;


}

a {
    color: black;
    text-decoration: none;

}

p {
    font-weight: 600;
}

h2 {
    font-size: 25px;
}

header {
    text-align: center;
    position: relative;
    background: #FAE3D9;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
}

@media only screen and (min-width: 600px) {
    header {
        height: 170px;
    }
}

header img {
    width: 20vw;
    margin-bottom: -15px;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 50vw;
        margin-bottom: -40px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }
}

button {
    background: transparent;
    margin: 15px;
    font-family: 'Yantramanav';
    font-size: 1.4rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;

}

.btn:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    color: #1b1b1b;
}

.some_ikoner img {
    width: 15vw;
    height: 15vw;

}

.some_container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin-bottom: 2vw;

}

.some_ikoner {
    display: flex;
    margin-top: auto;
    text-align: center;

}


@media screen and (max-width: 750px) {
    .some_ikoner {
        flex-direction: column;
    }
}

.kontakt_container {
    text-align: center;

}

.kontakt_info p {
    font-weight: 100;
    font-size: 20px;
    font-family: 'Cormorant-Garamond';
    letter-spacing: 2px;
}


.fragt_container {
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 10px;
    padding: 10px;

}

@media only screen and (min-width: 600px) {
    #myBtn {
        background: "knap.svg";

        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: -5px;
        /* Place the button at the bottom of the page */
        right: -80px;
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        padding: 15px;
        /* Some padding */
        transform: scale(0.7);
    }
    #myBtn:hover {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #FFB6B9;
    max-height: 10vw;
}

.footer_boks {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 1vw 5vw 0 5vw;
}

.footer_kontakt {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 1vw 5vw 0 5vw;
}

.SoMe_footer {
    flex-grow: 1;
    flex-basis: auto;
    margin-top: auto;

}

.SoMe_footer img {
    width: 24vw;
    align-items: center;
}

@media only screen and (min-width: 500px) {
    .SoMe_footer img {
        width: 15vw;
    }
}

@media only screen and (min-width: 740px) {
    .SoMe_footer img {
        width: 8vw;
        align-items: center;
    }
}

@media only screen and (min-width: 750px) {
    .SoMe_footer img {
        width: 8vw;
    }
}

@media only screen and (min-width: 1280px) {
    .SoMe_footer img {
        width: 5vw;
    }
}
