* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FAE3D9;
}

header {
    margin-bottom: 80px;
    text-align: center;
    position: fixed;
    background: #FAE3D9;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
}

h1 {
    margin-top: 13vw;
    margin-bottom: 1vw;
    text-align: center;
    font-family: 'Comorant+Garamond';
}

@media only screen and (min-width: 600px) {
    header {
        height: 170px;
    }
}

header img {
    width: 20vw;
    margin-bottom: -15px;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 50vw;
        margin-bottom: -40px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }
}

button {
    background: transparent;
    margin: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Yantramanav';
}

.btn:hover {
    border: none;
    color: white;
}


a {
    color: black;
    text-decoration-line: none;
}

main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 100;
    margin-top: 150px;
}

@media only screen and (max-width: 500px) {
    main {
        margin-top: 250px;
    }
}

img {
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: solid white 10px;
    border-bottom: none;
    border-top: none;
    padding: 0 5vw 2vw 5vw;
    text-align: center;
}

@media only screen and (max-width:500px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.tekst {
    margin-bottom: 20px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: 40vw;
}

.billede {
    margin-bottom: 20px;
    padding: 10px;
}

.billede img {
    max-height: 400px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width: 600px) {
    #myBtn {
        background: "knap.svg";

        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: -5px;
        /* Place the button at the bottom of the page */
        right: -80px;
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        padding: 15px;
        /* Some padding */
        transform: scale(0.7);
    }
    #myBtn:hover {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    background: #FFB6B9;
    font-family: 'Yantramanav';
    max-height: auto;
    align-content: center;
    padding: 1vw 5vw 0 5vw;
}

footer p {
    font-size: 14px;
}
.footer_boks {
    flex-grow: 1;
    flex-basis: 200px;
    margin-right: -10vw;
}

.footer_kontakt {
    flex-grow: 1;
    flex-basis: 200px;
   margin-right: -15vw;
}

.SoMe_footer {
    flex-grow: 1;
    flex-basis: auto;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    flex-basis: 200px;

}

@media only screen and (max-width: 500px){
    footer{
        flex-direction: column;
        text-align: center;
    }
    .footer_boks{
        max-height: 100px;
    }
    .footer_kontakt{
        max-height: 100px;
    }
    .SoMe_footer{
        max-height: 100px;
    }
}

.SoMe_footer img {
    max-width: 10%;
    align-items: flex-end;
    margin-top: -9px;

}

@media only screen and (min-width: 500px) {
    .SoMe_footer img {
        width: 11vw;
    }
}

@media only screen and (min-width: 740px) {
    .SoMe_footer img {
        width: 8vw;
        align-items: center;
    }
}

@media only screen and (min-width: 750px) {
    .SoMe_footer img {
        width: 8vw;
    }
}

@media only screen and (min-width: 1280px) {
    .SoMe_footer img {
        width: 5vw;
    }
}
