* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    margin-top: 4px;
    color: black;
    text-decoration: none;
    text-align: center;

}

/* Header*/

header {
    margin-bottom: 80px;
    text-align: center;
    position: fixed;
    background: #FAE3D9;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
}

@media only screen and (min-width: 600px) {
    header {
        height: 170px;
    }
}

header img {
    width: 20vw;
    margin-bottom: -15px;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 50vw;
        margin-bottom: -40px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .1rem;
    }
}

button {
    background: transparent;
    margin: 12px;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Yantramanav';
}

/* Header */

@media only screen and (min-width: 400px) {
    .billede img {
        width: 100%;

    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 170px 100px 50px 100px;

        /*
        display: flex;
        flex-wrap: wrap;
        margin-top: 200px;
        */
    }
    .billede {
        width: 100%;
        transition: transform 0.2s;
    }
    .billede:hover {
        transform: scale(1.05);
    }
    .tekst {}

    p {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 1%;

        font-size: 20px;
    }

    h3 {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 2%;

        margin-top: 10%;
        font-size: 150%;
    }
    #paypal-button-container {
        width: 100px;
        margin-bottom: 2%;
        margin-top: 10%;
        margin-left: 13%
    }
    transform {}

}


@media only screen and (max-width: 500px) {

    .billede img {
        width: 65%;
        margin-left: 18%;
        margin-top: 50%
    }
    .p {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 1%;

    }

    .h3 {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 2%;

    }
    #paypal-button-container {
        width: 100px;
        margin-left: 30%;
        width: 10em;
        margin-top: 15%;
        margin-bottom: 40%;
    }
}



@media only screen and (min-width: 600px) {
    #myBtn {
        background: "knap.svg";

        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: -5px;
        /* Place the button at the bottom of the page */
        right: -80px;
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        padding: 15px;
        /* Some padding */
        transform: scale(0.7);
    }
    #myBtn:hover {
        transform: scale(0.8);
    }
}




@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #FFB6B9;
}

.footer_boks {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 1vw 5vw 0 5vw;
}

footer p {
    font-family: 'Yantramanav';
    font-weight: 100;
}

.footer_kontakt {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 1vw 5vw 0 5vw;
}

.SoMe_footer {
    flex-grow: 1;
    flex-basis: auto;
    margin-top: auto;
}

footer p {
    letter-spacing: 0;
    line-height: 1rem;
    text-align: left;
    font-size: 1rem;
}

footer h5 {
    font-family: 'Yantramanav';
}

.SoMe_footer img {
    width: 24vw;
    align-items: center;
    border: none;
}

@media only screen and (min-width: 500px) {
    .SoMe_footer img {
        width: 15vw;
    }
}

@media only screen and (min-width: 740px) {
    .SoMe_footer img {
        width: 8vw;
        align-items: center;
    }
}

@media only screen and (min-width: 750px) {
    .SoMe_footer img {
        width: 8vw;
    }
}

@media only screen and (min-width: 1280px) {
    .SoMe_footer img {
        width: 5vw;
    }
}
