* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    margin-top: 4px;
    color: black;
    text-decoration: none;
    text-align: center;

}

/* Header*/

header {
    text-align: center;
    /*
    margin-bottom: 80px;
    position: fixed;
    top: 0;
    left: 0;
*/
    background: #FAE3D9;

    z-index: 10;
    width: 100vw;
}

@media only screen and (min-width: 600px) {
    header {
        height: 170px;
    }
}

header img {
    width: 20vw;
    margin-bottom: -15px;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 50vw;
        margin-bottom: -40px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .1rem;
    }
}

button {
    background: transparent;
    margin: 12px;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Yantramanav';
}

/* produkt */

.billede img {
    width: 50%;

}

.container {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 50vw;
}

.billede,
.tekst {
    flex-basis: 240px;
    flex-grow: 1;
    text-align: center;
}

/*
@media only screen and (min-width: 480px) {

    .billede img {
        width: 80%;

    }

    .tekst {}

    p {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 1%;

        font-size: 20px;
    }

    h3 {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 2%;

        margin-top: 10%;
        font-size: 150%;

    }
}
*/

@media only screen and (max-width: 500px) {


    .p {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 1%;

    }

    .h3 {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 2%;


    }

}



@media only screen and (min-width: 600px) {
    #myBtn {
        background: "knap.svg";

        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: -5px;
        /* Place the button at the bottom of the page */
        right: -80px;
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        padding: 15px;
        /* Some padding */
        transform: scale(0.7);
    }
    #myBtn:hover {
        transform: scale(0.8);
    }

}




@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #FFB6B9;
}

.footer_boks {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 1vw 5vw 0 5vw;
}

footer p {
    font-family: 'Yantramanav';
    font-weight: 100;
}

.footer_kontakt {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 1vw 5vw 0 5vw;
}

.SoMe_footer {
    flex-grow: 1;
    flex-basis: auto;
    margin-top: auto;
}

footer p {
    letter-spacing: 0;
    line-height: 1rem;
    text-align: left;
    font-size: 1rem;
}

footer h5 {
    font-family: 'Yantramanav';
}

.SoMe_footer img {
    width: 24vw;
    align-items: center;
    border: none;
}


@media only screen and (min-width: 480px) {

    .billede img {
        width: 80%;

    }

    .tekst {}

    p {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 1%;

        font-size: 20px;
    }

    h3 {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 2%;

        margin-top: 10%;
        font-size: 150%;

    }
}









@media only screen and (min-width: 500px) {
    .SoMe_footer img {
        width: 15vw;
    }
    .container {
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 0;
    }
}

@media only screen and (min-width: 740px) {
    .SoMe_footer img {
        width: 8vw;
        align-items: center;
    }
}

@media only screen and (min-width: 750px) {
    .SoMe_footer img {
        width: 8vw;
    }
}

@media only screen and (min-width: 930px) {

    .container {
        margin: 0 20vw;
    }
}

@media only screen and (min-width: 1280px) {
    .SoMe_footer img {
        width: 5vw;
    }
}





@media only screen and (max-width: 1280px) {
