* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    margin-top: 4px;
    color: black;
    text-decoration: none;
    text-align: center;

}

/* Header*/

header {
    margin-bottom: 80px;
    text-align: center;
    position: fixed;
    background: #FAE3D9;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
}

button {
    background-color: #FAE3D9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1em;
    border-left: 5px;
    border-right: 5px;
}

h6 {
    position: fixed;
    padding: 20px;
    left: 10px;
    top: 5px;
    font-size: 1.6rem;
    font-family: 'Yantramanav', sans-serif;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(250, 227, 217, 0.81);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Yantramanav', sans-serif;
}

.sidenav a {
    padding: 30px 8px 30px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #C09F37;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#mysidenav {
    text-align: left;
}

.sidenav {
    text-align: left;
}

.menu-item {
    max-width: 90px;
    font-size: 0.9em;
}

@media only screen and (min-width: 600px) {
    header {
        height: 110px;
    }
    .sidenav img {
        max-width: 2vw;
        margin-left: 2vw;
        margin-top: 2vw;
    }
    .shopping img {
        max-width: 2vw;
    }
    .shopping {
        margin-left: 94vw;
        margin-top: -7vw;
    }

    /*    .search img{
    max-width: 3vw;
}

.search{
    margin-left: 80vw;
    margin-top: 1vw;
}*/
}


header img {
    width: 25vw;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 70vw;
        margin-bottom: -40px;
        margin-top: 0.1px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
    h6 {
        transform: scale(0.9);
        left: 0;
        margin-top: -4vw;
    }
    .sidenav {
        height: 400px;
    }
    .menu_tekst {
        display: none;
    }
    .shopping img {
        max-width: 26px;
    }
    .shopping {
        margin-left: 85vw;
        margin-top: -22vw;
    }
    .sidenav img {
        max-width: 8vw;
        margin-left: 8vw;
    }
}

button {
    background: transparent;
    margin: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Yantramanav';
}

.btn:hover {
    border: none;
    color: white;
}

/* produkt */

.billede img {
    width: 50%;

}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 50vw;
}

.billede,
.tekst {
    flex-basis: 240px;
    flex-grow: 1;
    text-align: center;
}

/*
@media only screen and (min-width: 480px) {

    .billede img {
        width: 80%;

    }

    .tekst {}

    p {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 1%;

        font-size: 20px;
    }

    h3 {
        text-align: center;
        font-family: 'Yantramanav';
        margin-bottom: 2%;

        margin-top: 10%;
        font-size: 150%;

    }
}
*/

@media only screen and (max-width: 500px) {

    .p {
        text-align: center;
        font-family: 'Yantramanav', sans-serif;
        margin-bottom: 1%;

    }

    .h3 {
        text-align: center;
        font-family: 'Yantramanav', sans-serif;
        margin-bottom: 2%;
    }
    .tekst {
        font-family: 'Yeantramanav', sans-serif;
    }

}



@media only screen and (min-width: 600px) {
    #myBtn {
        background-image: url(knap.svg);

        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: -5px;
        /* Place the button at the bottom of the page */
        right: -80px;
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        padding: 15px;
        /* Some padding */
        transform: scale(0.7);
    }
    #myBtn:hover {
        transform: scale(0.8);
    }

}




@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*display: flex;
    flex-wrap: wrap;*/
    background: #FFB6B9;
    font-family: 'Yantramanav';

    align-content: center;
    padding: 1vw 5vw 0 5vw;
}

footer p {
    font-size: 14px;
}

/*.footer_boks {
    flex-grow: 1;
    flex-basis: 200px;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.footer_kontakt {
    flex-grow: 1;
    flex-basis: 200px;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

.SoMe_footer {
    flex-grow: 1;
    flex-basis: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
    flex-basis: 200px;

}*/

/*

@media only screen and (max-width: 500px) {
    footer {
        text-align: center;
    }
    .footer_boks {
        max-height: 50px;
        margin-bottom: 6vw;
    }
    .footer_kontakt {
        max-height: 50px;
        margin-bottom: 6vw;
    }
    .SoMe_footer {
        max-height: 50px;
    }
    footer h5 {
        font-family: 'Garamont', serif;
    }
}
*/

.SoMe_footer img {
    max-width: 15%;
    margin-top: -9px;

}


@media only screen and (min-width: 480px) {

    .billede img {
        width: 80%;

    }

    .tekst {}

    p {
        text-align: center;
        font-family: 'Yantramanav', sans-serif;
        margin-bottom: 1%;
        font-size: 20px;
    }

    h3 {
        text-align: center;
        font-family: 'Yantramanav', sans-serif;
        margin-bottom: 2%;
        margin-top: 10%;
        font-size: 150%;

    }
    footer h3 {
        font-family: 'Cormorant+Garamond', serif;
    }

}


@media only screen and (min-width: 500px) {
    .SoMe_footer img {
        width: 11vw;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 120px;
    }
}

@media only screen and (min-width: 740px) {
    .SoMe_footer img {
        width: 8vw;
        align-items: center;
    }
    h5 {
        font-family: 'Cormorant+Garamond', serif;
        text-align: center;
    }
}

@media only screen and (min-width: 750px) {
    .SoMe_footer img {
        width: 8vw;
    }
}

@media only screen and (min-width: 930px) {

    .container {
        margin: 10vw 20vw;
    }
}

@media only screen and (min-width: 1280px) {
    .SoMe_footer img {
        width: 5vw;
    }
}

footer {
    display: grid;
    grid-template-columns: 5vw 30vw 30vw 30vw 5vw;
    justify-content: center;
}

footer h5 {
    font-family: 'Cormorant+Garamond', serif;
}

.footer_boks {
    grid-column-start: 2;
    grid-column-end: 3;
}

.footer_kontakt {
    grid-column-start: 3;
    grid-column-end: 4;
}

.SoMe_footer {
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
}

.SoMe_footer {
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .footer_boks {
        margin-bottom: 5vw;
    }
    .footer_kontakt {
        margin-bottom: 5vw;
    }
}

.tekst {
    font-family: 'Yantramanav', sans-serif;
}
