* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-decoration-color: black;
    font-family: 'Yantramanav';
}

a {
    color: black;
    text-decoration: none;
}

header {
    margin-bottom: 80px;
    text-align: center;
    position: fixed;
    background: #FAE3D9;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
}

@media only screen and (min-width: 600px) {
    header {
        height: 170px;
    }
}

header img {
    width: 20vw;
    margin-bottom: -15px;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 50vw;
        margin-bottom: -40px;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }
}

button {
    background: transparent;
    margin: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Yantramanav';
}

.btn:hover {
    border: none;
    color: white;
}


@media only screen and (max-width: 500px) {
    .container1 {
        margin-top: 190px;
    }
}

.container1 {
    padding: 0;
    margin: 0;
    margin-top: 130px;
    min-height: 500px;
    opacity: 1;
    transition: opacity 2.6s;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(Produktbilleder/_-11.jpg);
    height: 500px;
    width: 100%;
}



@media only screen and (max-width: 500px) {
    .container1 {
        margin-top: 100px;
        height: 300px;
    }
}

.container1:hover {
    opacity: 0.8;
    transition: opacity 2.6s;
}

/*
.tekst1:hover {
    opacity: 1;

}

.tekst1 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Cormorant+Garamond';
    padding: 15vw 5vw 5vw 5vw;
    opacity: 0;
    transition: opacity 1.6s;
    text-align: center;

}

.tekst1 p {
    background: white;
}

@media only screen and (max-width: 500px) {
    .tekst1 p {
        margin-top: 160px;
        background: white;
        font-size: 1.3rem;
    }
}
*/

.container_space {
    height: 300px;
    background: #FAE3D9;
    width: 100%;
}

.container_space h1 {
    font-family: 'Cormorant-Garamond';
    font-size: 2.5rem;
    text-align: center;
    padding: 7vw;
    letter-spacing: 10px;
}

.container_space p {
    font-size: 2rem;
    text-align: center;
    margin-top: -80px;
}

@media only screen and (max-width: 500px) {
    .container_space h1 {
        font-size: 1.5rem;
    }
    .container_space p {
        margin-top: 0;
    }
}

.container2 {
    background-image: url(Fardige_model_billeder/_-10.jpg);
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .container2 {
        height: 1100px;
    }
}

/*

@media only screen and (max-width: 1200px) {
    .container2 {
        margin-top: -10px;
    }
}
*/

.produkter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 11vw 10vw 0 10vw;
}

@media only screen and (min-width: 700px) {
    .produkter {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


.produkt:hover {
    transform: scale(1.03);
}

/*
@media only screen and (min-width: 700px) {
    .produkter {
        max-width: 70%;
    }
}
*/

.produkt {
    padding: 2px;
    margin: 10px;
}

.produkt img {
    max-width: 100%;
}



.container3 {
    background: #FAE3D9;
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vw 1vw 0 1vw;
}

@media only screen and (max-width: 800px) {
    .container3 {
        grid-template-columns: 1fr;
        text-align: center;

    }
    .tekst3 p {
        text-align: center;
        padding: 0;
        margin-left: 12vw;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .container3 {
        height: 400px;
    }
    .tekst3 {
        width: 100%;
    }
}


.tekst3 {
    font-size: 1.4rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 60px;
}



@media only screen and (max-width: 800px) {
    .billede_container {
        text-align: center;
        padding-bottom: 0;
    }
    .tekst3 {
        font-size: 1em;
        max-width: 90%;
        padding: 0 0 0 6vw;
        margin: 0;
    }
    .billede_container img {
        transform: scale(2.5);
    }
}

.container3 p {
    color: black;
}


.container4 {
    background-image: url(Fardige_model_billeder/_-17.jpg);
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .container4 {
        height: 1100px;
    }
}


.container5 {
    background: #FAE3D9;
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




@media only screen and (min-width: 600px) {
    #myBtn {
        background: "knap.svg";

        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: -5px;
        /* Place the button at the bottom of the page */
        right: -80px;
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        padding: 15px;
        /* Some padding */
        transform: scale(0.7);
    }
    #myBtn:hover {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 600px) {
    #myBtn {
        display: none;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #FFB6B9;
    font-family: 'Yantramanav';

}


.footer_boks {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 2vw 5vw 2vw 5vw;
}

.footer_kontakt {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 2vw 5vw 2vw 5vw;
}

.SoMe_footer {
    flex-grow: 1;
    flex-basis: auto;
    margin-top: auto;

}

.SoMe_footer img {
    width: 24vw;
    align-items: center;
    padding-bottom: 1vw;
}

@media only screen and (min-width: 500px) {
    .SoMe_footer img {
        width: 15vw;
    }
}

@media only screen and (min-width: 740px) {
    .SoMe_footer img {
        width: 8vw;
        align-items: c enter;
    }
}

@media only screen and (min-width: 750px) {
    .SoMe_footer img {
        width: 8vw;
    }
}

@media only screen and (min-width: 1280px) {
    .SoMe_footer img {
        width: 5vw;
    }
}
